body {
  margin: 0;
  background-color: rgb(237, 243, 242);
  font-family: Inknut Antiqua, serif;
  background-image: url('Fundo.png');
}

/* body.noturno {
  margin: 0;
  background-color: rgb(237, 243, 242);
  font-family: Inknut Antiqua, serif;
  background-image: url('Fundo-noite.png');
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  height: 70px;
}

#trybewarts-header-title {
  color: aliceblue;
}

.trybewarts-header-logo {
  height: 70px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  margin-right: 10px;
}

.trybewarts-login button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.trybewarts-login button:hover {
  background-color: black;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}

/* Requisito 6. PS: Mudei o "evaluation-form" de class para id e juntei os trem tudo. */
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

/* Requisito 7. */
aside {
  display: flex;
  justify-content: flex-end;
}

/* Requisito 7. */
#trybewarts-forms-logo {
  height: 500px;
  filter: drop-shadow(0 0 0.75rem rgb(245, 255, 254));
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(59, 70, 67);
  color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* .radio-group {
  display: flex;
  flex-direction: column;
} */

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-group {
  width: 40%;
  float: left;
}

.rate {
  display: flex;
}

.rate-itens {
  margin-right: 10px;
}

.grupo-aprendizados {
  width: 60%;
  float: right;
}

.checkbox-agree {
  display: flex;
}
